@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pixel: var(--font-geist-pixel);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pixel), monospace;
}
